@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

p {
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 50px;
  width: 200px;
  height: 70px;
}